<html>
<head>
  <meta charset="utf-8">
  <title>Panelinha</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
<section>

  <form action="/login" method="post" class="form-signin">
    <h1>Panelinha</h1>
    <h2>Pagina de Login</h2>
    <h4>Bem-vindo!</h4>
    <input class="form-control" type="text" name="usuario[email]" placeholder="Seu email">
    <br>
    <input class="form-control" type="text" name="usuario[senha]" placeholder="Sua senha">
    <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button></li><br>
      <a href="/cadastrar"><button class="btn btn-lg btn-primary btn-block" type="button">Cadastrar</button></a>
    </form>
  </div>
  </section>

</body>
</html>
